.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___8NljO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__gPkaY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 75px;
  min-width: 0;
  padding: 0px;
}
.img__xlluW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  border-radius: 50px;
}
.img__xlluW > picture > img {
  object-fit: cover;
}
.text__aVkbr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #000000;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__c2Ph {
  position: relative;
  width: 280px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.devynStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 50px;
  padding: 20px 90px 20px 50px;
}
.svg__akPox {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-right: 0px;
  flex-shrink: 0;
  display: none;
}
.img__tHNd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__tHNd > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tHNd {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text___4B1Zl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4B1Zl {
    font-size: 18px;
  }
}
.igStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 50px;
  padding: 20px 90px 20px 50px;
}
.svg__vllVa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-right: 0px;
  flex-shrink: 0;
  display: none;
}
.img___7OfEf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img___7OfEf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7OfEf {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text__xS9Q6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xS9Q6 {
    font-size: 18px;
  }
}
.twitterStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 50px;
  padding: 20px 90px 20px 50px;
}
.svg___8UhY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-right: 0px;
  flex-shrink: 0;
  display: none;
}
.img__jIzs2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__jIzs2 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jIzs2 {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text__q9Cn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q9Cn {
    font-size: 18px;
  }
}
.linkedInStack {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 50px;
  padding: 20px 90px 20px 50px;
}
.svg__pmGIh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-right: 0px;
  flex-shrink: 0;
  display: none;
}
.img__cfBw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__cfBw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cfBw {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text__oOkQo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0px;
  align-self: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oOkQo {
    font-size: 18px;
  }
}
